@import '_reset.scss';

@mixin size($size) {
    height: $size;
    width: $size;
}

body {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 30px;
    color: #fff;
    background-color: #333;
    overflow: hidden;
}

.square {
    @include size (300px);
    background-color: red;
    animation: color 4s ease-out 1s 3s;
}

.circle {
    @include size (300px);
    border-radius: 50%;
    background-color: green;
}

@keyframes color {
    0% {
        width: 300px;
        background-color: red;
    }

    50% {
        width: 600px;
    }

    100% {
        width: 300px;
        height: 600px;
        background-color: gold;
    }
}