@import '_reset.scss';

body {
    margin: 50px;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 30px;
    color: #fff;
    background-color: #333;
}

li:nth-child(2n) {
    color: lime;
}

span:first-child {
    color: yellow;
}