@import '_reset.scss';

@mixin size($size) {
    height: $size;
    width: $size;
}

body {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 30px;
    color: #fff;
    background-color: #333;
    overflow: hidden;
}